.form-fields {
  outline: none;
  border: none;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: 0 0;
  margin-left: 10px;
  padding: 0 5px;
  box-shadow: 0 0 0 1000px white inset;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #666;
  border-left-color: #ffffff;
}
